# Базы данных 1С
*.1cd
*.1CD

# Временные файлы и блокировки 1С
*.cdn
*.CDN
*.locks
*.lck
*.ldb
*.LDB
*.v8i

# Локальные настройки пользователя и журналы
v8unsaved/
*.1cf
*.1ct

# Системные папки дампов и логов
*.log
*.dump
*.dmp

# Файлы настроек конфигуратора под конкретного разработчика
1Cv8.1cws
1Cv8.1cx
1Cv8.cdn

# Настройки IDE
.project
.settings/
build/
bin/